# This notebook is to validate the addresses of randomly sampled 100 food pantries and/or food banks in the U.S. For now, it has been created to randomly sample 100 addresses out of 34,475 FPs in total.

In [2]:
import pandas as pd
import random

In [4]:
fp = pd.read_pickle('../data/fp_bg_pairs.pkl')

In [5]:
num_unique_pantries = len(fp['address'].unique())
print(f"number of FPs in total: {num_unique_pantries}")

number of FPs in total: 34475

In [9]:
random.seed(42)
rand_fp = random.sample(fp['address'].unique().tolist(), 100)

In [10]:
df = pd.DataFrame(columns=['address'])
df['address'] = rand_fp
df

                                              address
0   4817 Jefferson Avenue SW Bldg II Birmingham, A...
1                    101 E Main St, Wallace, NC 28466
2             5781 Hendrickson Ave Ferndale, WA 98248
3                372 Sisson Ave NE, Atlanta, GA 30317
4                20 3rd St NE #1338, Aitkin, MN 56431
..                                                ...
95                    200 4th Ave. Brooklyn, NY 11217
96     5605 bataan memorial west Las Cruces, NM 88011
97                   104 Pace Street Naples, TX 75568
98  4647 Crawfordville Highway Crawfordville, FL 3...
99                 420 Ellis Ave S, Ashland, WI 54806

[100 rows x 1 columns]

In [11]:
# df.to_csv('random_100_fp.csv', index=False)